.artigo-container-wrapper{
  width: 90%;
  padding:  5%;
}

.artigo-header {
  display: flex;
  flex-direction: column;

}
.artigo-header span{
  font-weight: 700;
}
.artigo-header h1{
  font-size: 52px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  margin: 0;
}
.artigo-info{
  display: flex;
  gap: 5px;
  margin-top: 10px;
  color: #00000033;
  font-size: 12px
  
}
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}
.artigo-content img{
  width: 100%;
  max-width: 100%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}